*.class
*.xml
*.txt
*.conf

# game folder #
art/
bin/
doc/
lib/
maps/
music/
sound/
teams/examplefuncsplayer/

# Package Files #
*.jar
*.war
*.ear
*.DS_Store
*.project
*.gitignore*
teams/multiBot/HQBot.java

teams/multiBot/HQBot.java
